# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg

# OS
.DS_Store
Thumbs.db

# password database silver_data with user silver_user est root123